<html>

<title>Noteify</title>

<style>
  .logout {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .border {
    border: 1px solid
  }

  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

  .button {
    background-color: #5BC125;
    border-radius: 3px;

    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 23px;
    text-decoration: none;
  }

  .button:hover {
    background-color: #4CB911;
  }

  .button:active {
    position: relative;
    top: 1px;
  }

  h3,
  a,
  button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .note {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #42CA55;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }

  .note:hover {
    background: #20C132;
    border: solid #20C132 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
  }

  h2,
  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .myInput {
    height: 30px;
    font-size: 14pt;
    border: none;
    /* <-- This thing here */
    border: solid 1px #ccc;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .mark {
    position: sticky;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .github {
    position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  }

  .settings {
    position: absolute;
  }
</style>

<body>
  <a href="/user"><img src="images/logo.jpg" height="75" width="auto"></a>

  <a class="logout" href="/user/log_out">Log Out</a>

  <div class="border"></div>
  <br>

  <a href="/user/settings" style="float: right; margin-right: 50px;"><img src="/images/settings.svg" height="50px"
      width="auto" class="settings"></a>

  <a href="/user/new" class="note">New Note</a>
  <input class="myInput" id="myInput" placeholder="MyNote...">
  <br>
  <br>
  <div class="wrapper" id="wrapper" style="margin-left: 30px;"></div>





</body>

<div class="mark">
  <p>Toma Rodin 🐯</p>
</div>

<div class="github">
  <a href="https://github.com/TomaRodin"><img src="/images/github.svg" height="40px" width="40px"></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
  window.onload = function myfunction() {

    $.getJSON("/data.json", function (data) {



      const parentWrapper = document.querySelector('.wrapper');
      data.forEach((el) => {
        const div = document.createElement('div');
        div.style.backgroundColor = '#F1F3F4';
        div.style.borderRadius = '10px';
        const child = document.createElement('h2');
        child.textContent = el.title;
        div.appendChild(child);
        const time = document.createElement('p')
        time.textContent = el.date
        time.style = "display:inline-block;"
        const link = document.createElement('p')
        link.textContent = el.text
        div.appendChild(link)
        const space = document.createElement('br');
        parentWrapper.appendChild(space)
        const edit = document.createElement('a')
        edit.textContent = "Edit"
        edit.href = "/user/notes/" + el.id
        div.appendChild(edit)
        parentWrapper.append(div);
      });

    });
  }
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#wrapper div").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>


</html>